@import url("https://fonts.googleapis.com/css?family=Manrope");

.footer {
  /* Bg */
  display: block;
  position: relative;
  width: 1404px;
  height: 72px;
  bottom: 0px;
  top: 2850px;
  background-color: #e9e9e9;;

  background: #e9e9e9;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.04),
    0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.textFooter {
  /* Bank Muamalat Terdaftar dan Diawasi oleh Otoritas Jasa Keuangan */
  position: absolute;
  width: 427px;
  height: 24px;
  left: 164px;
  top: 12.5px;
  /* Body / Body 2 */

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: "liga" off;

  /* Main color */

  color: #500878;
}

.logofooter {
  position: absolute;
  width: 482px;
  height: 40px;
  left: 794px;
  top: 20px;
}
