@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);


.containerinfoawal {
    position: absolute;
    width: 912px;
    height: 696px;
    left: 264px;
    top: 152px;
    background: red;

    
    border-radius: 24px;
}
/* .images {
    
    position: absolute;
    width: 288px;
    height: 696px;
    left: 600px;
    top: 0px;
    
    background: #C4C4C4;
    border-radius: 0px 24px 24px 0px;
} */

body {
  background: #fbfbfb;
  font-family: "Poppins", sans-serif;
}

.apakah {
    position: absolute;
width: 373px;
height: 32px;
left: 90px;
top: 150px;

/* Headline / Headline 5 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 32px;
/* identical to box height, or 178% */


/* Main color */

color: #500878;
}

.radio1 {
    position: absolute;
    width: 480px;
    height: 72px;
    left: 90px;
    top: 220px;

    background: #FBFBFB;
    border-radius: 8px;
    display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio1 input {
    position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radioLabel1 {
    position: absolute;
width: 370px;
height: 24px;
left: 50px;
top: 24px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
color: #000000;
}
/* 
.checkmark {
    position: absolute;
    top: 24px;
    left: 15px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1.5px solid #bfbfbf;
}
.radio1:hover input ~ .checkmark {
    background-color: #ccc;
  }

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio1 input:checked ~ .checkmark:after {
    display: block;
  }
.radio1 .checkmark:after {
    top: 3.5px;
    left: 3.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #500878;
  }

.radio2 {
    position: absolute;
    width: 480px;
    height: 72px;
    left: 90px;
    top: 250px;
    
    background: #FBFBFB;
    border-radius: 8px;
    display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

.radioLabel2 {
    position: absolute;
    width: 288px;
    height: 24px;
    left: 50px;
    top: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
.radio2:hover input ~ .checkmark {
    background-color: #ccc;
  }
.radio2 input:checked ~ .checkmark:after {
    display: block;
  }
.radio2 .checkmark:after {
    top: 3.5px;
    left: 3.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #500878;
  }
.radio2 input {
    position: absolute;
  opacity: 0;
  cursor: pointer;
  color: #000000;
  
}

.lanjutkan {
    position: absolute;
    width: 156px;
    height: 48px;
    left: 400px;
    top: 510px;
    border: none;
    border-radius: 9px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    background: #C2C2C2;
    color: #FFFFFF;
    text-align: center;
}

.lanjutkan:hover {
    background: #500878;;
    
}

.radioLabel3 {
    position: absolute;
    width: 328px;
    height: 17px;
    left: 30px;
    top: -15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;


    color: #888888;

}

.radio3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 16px;

    position: absolute;
    width: 450px;
    height: 48px;
    left: 100px;
    top: 410px;

    background: #F4F4F4;
    border-radius: 8px;
    }

.radio3 input {
    display: block;
    width: 100%;
    max-width: 640px;
    background-color: #f4f4f4;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 8px;
    letter-spacing: 0.5px;
    text-indent: 15px;
}

.radio3 input::-webkit-inner-spin-button,
.radio3 input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}




.radio3 input:focus {
    background-color: #ede5ee;
    outline: none;
} */