@import url("https://fonts.googleapis.com/css?family=Poppins");
.keuntungankpr {
  position: absolute;
  width: 486px;
  height: 48px;
  left: 256px;
  top: 840px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.number1 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 936px;
  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}
.number2 {
  /* Ellipse */

  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1028px;
  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;

  /* Main color */

  background: #500878;
}

.number3 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1124px;

  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.number4 {
  /* Ellipse */

  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1224px;

  /* Main color */

  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.number5 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1320px;

  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.number6 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1416px;

  /* Main color */

  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.number7 {
  /* Ellipse */

  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1512px;

  /* Main color */

  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.number8 {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 608px;
  top: 1608px;

  /* Main color */

  background: #500878;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  border-radius: 200px;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.box {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 496px;
  height: 752px;
  left: 688px;
  top: 936px;
}
.boxtext1 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 10px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 7;
  flex-grow: 0;
  /* margin-left: 16px;
margin-right: 16px;
margin-top: 0; */
  margin: 8px 0px;
}

.boxtext2 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 96px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.boxtext3 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 190px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 8px 0px;
}

.boxtext4 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 288px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 8px 0px;
}
.boxtext5 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 384px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 8px 0px;
}
.boxtext6 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 480px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 5;
  flex-grow: 0;
  margin: 8px 0px;
}

.boxtext7 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 576px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 6;
  flex-grow: 0;
  margin: 8px 0px;
}
.boxtext8 {
  /* List */

  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 496px;
  height: 45px;
  left: 0px;
  top: 672px;

  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  /* Inside Auto Layout */

  flex: none;
  order: 7;
  flex-grow: 0;
  margin: 8px 0px;
}

.text {
  /* Sesuai dengan prinsip syariah. */

  position: static;
  width: 464px;
  height: 48px;
  left: 16px;
  top: 16px;

  /* Body / Body 1 */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.5px;

  color: #363636;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1px;
}

.img3 {
  position: absolute;
  width: 288px;
  height: 232px;
  left: 256px;
  top: 936px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.img2 {
  /* Image */

  position: absolute;
  width: 288px;
  height: 232px;
  left: 256px;
  top: 1196px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.img1 {
  /* Image */
  position: absolute;
  width: 288px;
  height: 232px;
  left: 256px;
  top: 1456px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.fotoawal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  /* width: 1688px;
height: 626px; */
  left: 250px;
  top: 110px;
}
/* 
.fotoawal img {
  height: 655px;
} */

.img4 {
  position: absolute;
  left: 0px;
  right: 51.18%;
  top: 0%;
  bottom: 0%;
  /* width: 920px; */
  height: 655px;

  background: #e7c9a6;
  border-radius: 10px;
}

.img5 {
  position: absolute;
  left: 65vw;
  /* margin-left: 80vw; */
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #f5f6f8;
  border-radius: 10px 0px 0px 10px;
  /* width: 150px; */
  height: 655px;
  object-fit: contain; 
  object-position: -40% 0;
}

.caption {
  position: absolute;
  width: 688px;
  height: 376px;
  left: 85px;
  top: 310px;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.caption1 {
  position: absolute;
  width: 592px;
  height: 104px;
  left: 60px;
  top: 30px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 52px;
  /* or 162% */

  text-align: justify;
  letter-spacing: -1px;

  color: #363636;
}
.caption2 {
  position: absolute;
  width: 592px;
  height: 48px;
  left: 60px;
  top: 170px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: justify;

  color: #5f5f5f;
}

.ajukanSekarang2 {
  position: absolute;
  left: 60px;
  top: 70%;
  bottom: 15%;
  background: #500878;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  width: 200px;
  height: 64px;
}

.buttonaj {
  top: 500px;
}

.cap1 {
  margin-bottom: 0;
}

.cap2 {
  margin-top: 0;
}

.syaratpembukaan {
  position: absolute;
  width: 315px;
  height: 48px;
  left: 563px;
  top: 1784px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
}

.syarat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 32px;
  position: absolute;
  width: 928px;
  height: 520px;
  left: 256px;
  top: 1880px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

.syarat li {
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.kotak {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw;

  position: absolute;
  width: 94vw;
  height: 250px;
  left: 0px;
  top: 2496px;

  background: #ffffff;
}

.daftarkan {
  /* Section Title */

  position: static;
  width: 730px;
  /* height: 128px; */
  left: 0px;
  top: 0px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  /* line-height: 64px; */

  text-align: center;
  font-feature-settings: "liga" off;

  color: #500878;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.p2 {
  margin-top: 0;
}
.p1 {
  margin-bottom: 0;
}

.ajukanSekarang {
  position: absolute;
  top: 65.41%;
  bottom: 25%;
  background: #500878;
  border-radius: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  width: 200px;
  height: 64px;
}

@media only screen and (min-width: 1440px) {
  .fotoawal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
  
    position: absolute;
    /* width: 1688px;
  height: 626px; */
    left: 250px;
    top: 20vh;
  }

  
  .img4 {
    position: absolute;
    left: 0px;
    right: 60%;
    top: 10%;
    bottom: 0%;
    /* width: 920px; */
    height: 900px;
    margin-left: 10vw;
  
    background: #e7c9a6;
    border-radius: 10px;
  }
  
  .img5 {
    position: absolute;
    left: 74vw;
    /* margin-left: 80vw; */
    right: 0%;
    top: 0%;
    bottom: 0%;
    
  
    background: #f5f6f8;
    border-radius: 10px 0px 0px 10px;
    /* width: 150px; */
    height: 900px;
    object-fit: contain; 
    object-position: -40% 0;
  }

  .caption {
    position: absolute;
    width: 688px;
    height: 376px;
    left: 15vw;
    top: 500px;
  
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
  }
}

@media only screen and (min-width: 2500px) {
  .ajukanSekarang {
    position: absolute;
    top: 65.41%;
    bottom: 25%;
    background: #500878;
    border-radius: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
    width: 400px;
    height: 128px;
  }

  .daftarkan {
    /* Section Title */
  
    position: static;
    width: 1460px;
    /* height: 128px; */
    left: 0px;
    top: 0px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    /* line-height: 64px; */
  
    text-align: center;
    font-feature-settings: "liga" off;
  
    color: #500878;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;
  }
  
  .p2 {
    margin-top: 0;
  }
  .p1 {
    margin-bottom: 0;
  }

  .kotak {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw;
  
    position: absolute;
    width: 94vw;
    height: 500px;
    left: 0px;
    top: 2496px;
  
    background: #ffffff;
  }
}