.button {
  /* position: absolute; */
  width: 60%;
  height: 64px;
  left: 18px;
  top: 0px;

  /* Main color */

  background: #500878;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.button:hover {
  background-color: #490046;
}

.buttonInActive {
  /* position: absolute; */
  width: 60%;
  height: 64px;
  left: 18px;
  top: 0px;

  /* Main color */

  background: #c8c8c8;
  border-style: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  cursor: pointer;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.buttonInActive:hover {
  background-color: #c8c8c8;
}

.buttonInActiveRingkasan {
  margin-top: 24px;
  width: 156px;
  height: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;

  color: #ffffff;
  margin-bottom: 48px;
  background: #c8c8c8;
  border-style: none;
  border-radius: 8px;
}

@media only screen and (min-width: 2500px) {
  .button {
    /* position: absolute; */
    width: 60%;
    height: 90px;
    left: 18px;
    top: 0px;
  
    /* Main color */
  
    background: #500878;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    cursor: pointer;
    font-size: 24px;
    font-family: Poppins;
  }

  .button h4 {
    margin-top: 22px;
  }
  
  .button:hover {
    background-color: #490046;
  }
  
  .buttonInActive {
    /* position: absolute; */
    width: 60%;
    height: 90px;
    left: 18px;
    top: 0px;
  
    /* Main color */
  
    background: #c8c8c8;
    border-style: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
      0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    cursor: pointer;
    font-size: 24px;
    font-family: Poppins;
  }

  .buttonInActive h4 {
    margin-top: 22px;
  }
  .buttonInActive:hover {
    background-color: #c8c8c8;
  }
}
