@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

body {
  background: #f4f4f4;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

.basicForm {
  width: 100%;
  max-width: 912px;
  padding-left: 136px;
  padding-right: 136px;
  padding-top: 48px;
  margin-bottom: 100px;
  text-align: left;
  background-color: #fff;
  border-radius: 24px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

.titleOne {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.titleTwo {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* margin-bottom: 0px; */
}

.basicInput {
  display: block;
  width: 100%;
  max-width: 640px;
  background-color: #f4f4f4;
  height: 48px;
  border-radius: 8px;
  border: 0px;
  margin: 10px 0 10px 0px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.basicInput:focus {
  background-color: #ede5ee;
  outline: none;
}

.inputWithIconLeftWrapper input {
  display: flex;
  flex-direction: row;
  padding-left: 56px;
  padding-top: 5px;
}

.inputWithIconLeftWrapper {
  position: relative;
}

.inputWithIconLeftWrapper label {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #e3e3e3;
  height: 36px;
  width: 48px;
  border-radius: 8px 0px 0px 8px;
  text-align: center;
  padding-top: 12px;
}
.inputWithIconLeft {
  display: block;
  width: 100%;
  max-width: 640px;
  background-color: #f4f4f4;
  height: 48px;
  border-radius: 8px;
  border: 0px;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.inputWithIconLeft:focus {
  background-color: #ede5ee;
  outline: none;
}

.inputWithIconLeftWrapper input:focus + label {
  background-color: #dccee4;
}

.iconLeft {
  background-color: #f4f4f4;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.inputWithIconRightWrapper input {
  display: flex;
  flex-direction: row;
  padding-left: 8px;
  padding-top: 5px;
}

.inputWithIconRightWrapper {
  position: relative;
}

.inputWithIconRightWrapper label {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #e3e3e3;
  height: 36px;
  width: 72px;
  border-radius: 0px 8px 8px 0px;
  text-align: center;
  padding-top: 12px;
}
.inputWithIconRight {
  display: block;
  width: 100%;
  max-width: 640px;
  background-color: #f4f4f4;
  height: 48px;
  border-radius: 8px;
  border: 0px;
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 8px;
}

.inputWithIconRight:focus {
  background-color: #ede5ee;
  outline: none;
}

.inputWithIconRightWrapper input:focus + label {
  background-color: #dccee4;
}

.iconRight {
  background-color: #f4f4f4;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.divider {
  width: 100%;
  max-width: 640px;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 0, 8px solid #363636;
  height: 0px;
  color: #888888;
}

.basicLabel {
  margin-top: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #888888;
}

.radioWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radioContainer {
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 42%;
  max-width: 312px;
  height: 48px;
  /* max-height: 48px; */
  background: #f4f4f4;
  border-radius: 8px;
  padding-left: 42px;
  /* padding-top: 12px; */
  top: 8px;

  margin-bottom: 24px;
}

.radioLabel {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #363636;
  padding-top: 12px;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 16px;
  left: 15px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1.5px solid #bfbfbf;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .radioLabel:after {
  color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
  top: 3.5px;
  left: 3.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #500878;
}

.dropdownSelect {
  background: #f4f4f4;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 5px;
  padding-left: 16px;
  padding-right: 20px;
  color: #363636;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  border: none;
  height: 48px;
  width: 640px;
  cursor: pointer;
  order: 0;
  outline: none;
}

.dropdownSelect::after {
  content: "";
  /* background: url("img/arrow-down-sign-to-navigate.png"); */
  background-size: 15px;
  background-repeat: no-repeat;
  padding-right: 20px;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.firstPageButtonsWrapper {
  display: flex;
  justify-content: space-between;
}

.transparentButton {
  margin-top: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  font-family: Poppins;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #500878;
  margin-bottom: 48px;
}

.primaryButton {
  margin-top: 24px;
  width: 156px;
  height: 48px;
  background: #500878;
  border-radius: 9px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */
  cursor: pointer;
  text-align: center;

  color: #ffffff;
  margin-bottom: 48px;
}

.secondaryButton {
  border-radius: 9px;
  width: 156px;
  height: 48px;
  margin-top: 24px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #500878;
  cursor: pointer;
  font-family: Poppins;
  font-style: bold;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #500878;
  margin-bottom: 48px;
}

.dropdownSelectHalf {
  background: #f4f4f4;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 20px;
  color: #363636;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  border: none;
  height: 48px;
  width: 312px;
  cursor: pointer;
  order: 0;
  outline: none;
}

.dropdownSelectHalf::after {
  content: "";
  /* background: url("img/arrow-down-sign-to-navigate.png"); */
  background-size: 15px;
  background-repeat: no-repeat;
  padding-right: 20px;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 5px;

  transition: all 0.4s;
}

.halfHalf {
  display: flex;
  flex-direction: row;
  width: 50%;
  max-width: 312px;
  justify-content: space-between;
}

.halfQuarter {
  width: 50%;
  max-width: 152px;
}

.wrapperHalf {
  width: 100%;
  margin: 0px;
}

.sliceForSecondPageButton {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
